<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%#<meta name="viewport" content="width=device-width,initial-scale=1"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# <p><a href="/admins/sign_in">Sign In</a> | <a href="/admins/sign_out" data-method="delete">Sign Out</a></p> 
  <%# Заменим жёстко прописанные ссылки, на ссылки с именованными маршрутами: %>
  <%#<p><%= link_to "Sign In", new_user_session_path  | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

  <%# Далее, выведем имя пользователя при авторизации, и уберём Sign Out ссылку, когда мы не авторизованы.%>

<% if admin_signed_in? %>
  Hello, <%= current_admin.email %> | <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_admin_session_path %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>